# Logs
logs
*.log

# sigarra internal data cannot be committed
mysql/sql/01_dump_mysql.sql 

# dotenv environment variables file
.env

# mysql data
mysql/data/*
mysql/sql/01_data.sql
**__pycache__

# django 
django/**/migrations/**
django/university/models.py

# celery
django/celerybeat-schedule

# stats related graphs
django/university/stats_graphs/*

httpd/shibboleth/*.pem
