# Logs
logs
*.log

# sigarra internal data cannot be committed
postgres/sql/01_dump_postgres.sql 

# dotenv environment variables file
.env

# postgres data
postgres/data/*
postgres/sql/01_data.sql
**__pycache__

# django 
django/**/migrations/**
django/university/models.py

# celery
django/celerybeat-schedule

# stats related graphs
django/university/stats_graphs/*
